{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Maine State Museum - Mural Attract{% endblock %}

{% block stylesheets %}
	{{ block.super }}
	<style>
		#attract-anim {
			background-color: #eee;
		}
		#attract-anim img {
			max-height: 75vh;
			position: absolute;
			opacity: 0;
		}
		.home {
			padding: .5em;
			text-align: left;
		}
		.home h1 {
			color: #ff9933;
			padding-top: 2em;
		}
		#touch-title {
			opacity: 0;
		}
		#touch-title a {
			color: #ee8822;
		}

	</style>
{% endblock %}

{% block javascript %}
	<!-- Instead of block.super I'm repeating all links except the timout one -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/TweenMax.min.js' %}" type="text/javascript"></script>
    <!-- <script src="{% static 'js/jquery.touchSwipe.min.js' %}" type="text/javascript"></script> -->
    <!-- <script src="{% static 'js/mural.js' %}" type="text/javascript"></script> -->
    
	<script src="{% static 'js/attract.js' %}" type="text/javascript"></script>
{% endblock javascript %}

{% block full_page %}
 
<div class="home">
	<h1><div id="touch-title">
			<a href="menu.html">Touch anywhere to begin</a>
		</div>
	</h1>
</div>

<div id="attract-anim">

	<img id="photo1" src="{% static 'panels/panelpics/apprenticeship.jpg' %}">
	<img id="photo2" src="{% static 'panels/panelpics/child-labor.jpg' %}">
	<img id="photo3" src="{% static 'panels/panelpics/women-textiles.jpg' %}">
	<img id="photo4" src="{% static 'panels/panelpics/secret-ballot.jpg' %}">
	<img id="photo5" src="{% static 'panels/panelpics/labor-day.jpg' %}">
	<img id="photo6" src="{% static 'panels/panelpics/logging.jpg' %}">
	<img id="photo7" src="{% static 'panels/panelpics/shoe-strike.jpg' %}">
	<img id="photo8" src="{% static 'panels/panelpics/reform.jpg' %}">
	<img id="photo9" src="{% static 'panels/panelpics/Rosie.jpg' %}">
	<img id="photo10" src="{% static 'panels/panelpics/jay-strike.jpg' %}">
	<img id="photo11" src="{% static 'panels/panelpics/labor-future.jpg' %}">

</div>


{% endblock full_page %}
