{% extends "panels/panel_base.html" %}
{% load staticfiles %}

{% block title %}{{ object.panel_title }}{% endblock %}

{% block panel_title %}
    <h3>{{ object.panel_title }}</h3>
    <h1>{{ article.title|safe }}</h1>
    <p class="close-link"><a href="{% url 'panels:panel_detail' object.slug %}">close</a></p>
{% endblock panel_title %}

{% block panel_content %} {# everything inside the article div #}
<div class="image">
  <img src="{% static 'panels/articlepics/' %}p{{ object.ordinal }}-{{ article.article_type }}.jpg">
  {% if article.article_type == 'intro' %}
    <p>{{ article.caption|safe }}</p><!--hey don, I removed the class on the p tag -->
  {% endif %}
</div>

<!-- begin text article -->
<div class="text-scroll">
  {{ article.narrative|safe }}
</div>

{% if object.visit_set.all %}
  <h3 class="visit-link">Visit Our Exhibit:
  {% for visit in object.visit_set.all %} 
    <a class="pop_item" 
    href="{% url 'pops:visit_ajax_detail' visit.id %}">{{ visit.title|safe}}</a>   
  {% endfor %} 
  </h3>
{% endif %}

{% if article.learnmore_set.all %}
<nav class="learn-more">
  <h3>Learn More</h3>
  <ul>
  {% for learnmore in article.learnmore_set.all %}          
    <li>
      <a class="pop_item" href="{% url 'pops:'|add:learnmore.learnmore_type|add:'_ajax_detail' learnmore.id %}">
        <img src="{% static 'pops/learnmore/thumbpics/' %}p{{ learnmore.article.panel.ordinal }}-{{ learnmore.article.article_type }}-{{ learnmore.learnmore_type }}.jpg">
        <span>{{learnmore.get_learnmore_type_display}}:</span>
        {{learnmore.title|safe}}
      </a> 
  </li>
  {% endfor %}    
  </ul>
</nav>
{% endif %}

<!-- end text article -->

{% endblock panel_content %}


