{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ object.panel_title }}{% endblock %}

{% block full_page %}

<main class="swipe-main">

  <div class="wrapper">

    <div class="home-nav">
      <a href="/">&larr; Home</a>
    </div>

    <div class="panel-title">     
    {% block panel_title %}
      <h1>{{ object.panel_title }}</h1>

        {{ object.panel_blurb|safe }}
        <a href="panel-2-intro.html">More...</a>

    {% endblock panel_title %}
    </div>

    <div class="panel-nav"> 
      <svg id="tiny-panels" data-name="tiny-panels" xmlns="http://www.w3.org/2000/svg" 
      viewBox="0 0 148 29" width="148" height="29" >
        {% for panel in object.panel_list %}
          {% if panel.ordinal == object.ordinal %}
            <rect x="{{ panel.mini_x }}" y="1" class="hotspot selected" width="13" height="27"/>
          {% else %}
            <a xlink:href="{% url 'panels:panel_detail' panel.slug %}">
              <rect x="{{ panel.mini_x }}" y="1" class="hotspot" width="13" height="27"/>
            </a>
          {% endif %}
        {% endfor %}
        
      </svg>
      
    </div>

    <div class="prev-panel">

      {% if object.get_prev %}
        <a class="prev" href="{% url 'panels:panel_detail' object.get_prev.slug %}">Prev</a>        
      {% endif %}

      <svg  xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
        viewBox="0 0 217.2 1800"> <!-- 216 1790 -->

        <image id="document" x="0" y="0" xlink:href="{% static 'panels/panelpics/' %}{{ object.slug }}-prev.jpg" width="217.2" height="1800" />

      </svg>

    </div>

    <div class="main">

  		<article>

        {% block panel_content %}
          panel content here
        {% endblock panel_content %}

  		</article>

      <nav class="tabs">
        <ul>
          {% for nav_article in object.article_set.all %}
            {% if article.article_type == nav_article.article_type %}
              <li class="selected">{{ nav_article.title|safe }}</li>
            {% else %}
              <li><a 
                href="{% url 'panels:article_detail' object.slug nav_article.article_type %}">
                {{ nav_article.title|safe }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>

      </nav>

  	</div><!--/main-->

    <div class="next-panel">

      {% if object.get_next and object.get_next.ordinal < 50 %}
        <a class="next" href="{% url 'panels:panel_detail' object.get_next.slug %}">Next</a>        
      {% endif %}

      <svg  xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
        viewBox="0 0 217.2 1800">

        <image id="document" x="0" y="0" xlink:href="{% static 'panels/panelpics/' %}{{ object.slug }}-next.jpg" width="217.2" height="1800" />


      </svg>
    </div>

  </div><!--/wrapper-->

</main> <!-- swipe-main -->

{% endblock full_page %}
