{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ object.panel_title }}{% endblock %}

{% block full_page %}

<div class="wrapper">

  <div class="home-nav">
    <a href="/">&larr; Home</a>
  </div>

  <div class="panel-title">     
  {% block panel_title %}
    <h1>{{ object.panel_title }}</h1>

      {{ object.panel_blurb|safe }}
      <a href="panel-2-intro.html">More...</a>

  {% endblock panel_title %}
  </div>

  <div class="panel-nav"> 
    <svg id="tiny-panels" data-name="tiny-panels" xmlns="http://www.w3.org/2000/svg" 
    viewBox="0 0 264 48" width="164" height="28" >
      
      <a href="panel-1.html">
        <path d="M23.5.5v47H.5V.5h23M24,0H0V48H24V0Z" class="hotspot"/>
      </a>

      <a href="panel-2.html">
        <path d="M47.5.5v47h-23V.5h23M48,0H24V48H48V0Z" class="hotspot selected"/>
      </a>
      
      <a href="panel-3.html">
        <path d="M71.5.5v47h-23V.5h23M72,0H48V48H72V0Z" class="hotspot"/>
      </a>

      <a href="">
        <path d="M95.5.5v47h-23V.5h23M96,0H72V48H96V0Z" class="hotspot"/>
      </a>
      
      <a href="">
        <path d="M119.5.5v47h-23V.5h23M120,0H96V48h24V0Z" class="hotspot"/>
      </a>

      <a href="">
        <path d="M143.5.5v47h-23V.5h23M144,0H120V48h24V0Z" class="hotspot"/>
      </a>

      <a href="">
        <path d="M167.5.5v47h-23V.5h23M168,0H144V48h24V0Z" class="hotspot"/>
      </a>

      <a href="">
        <path d="M191.5.5v47h-23V.5h23M192,0H168V48h24V0Z" class="hotspot"/>
      </a>

      <a href="">
        <path d="M215.5.5v47h-23V.5h23M216,0H192V48h24V0Z" class="hotspot"/>
      </a>

      <a href="">
        <path d="M239.5.5v47h-23V.5h23M240,0H216V48h24V0Z" class="hotspot"/>
      </a>

      <a href="">
        <path d="M263.5.5v47h-23V.5h23M264,0H240V48h24V0Z" class="hotspot"/>
      </a>

    </svg>
    
  </div>

  <div class="prev-panel">
    {% if object.get_prev %}
      <a href="{% url 'panels:panel_detail' object.get_prev.slug %}">previous</a>
    {% else %}
      previous 
    {% endif %}

  </div>

  <div class="main">

		<article>

      {% block panel_content %}
        panel content here
      {% endblock panel_content %}

		</article>

    <nav class="tabs">
      <ul>
        {% for nav_article in object.article_set.all %}
          {% if article.article_type == nav_article.article_type %}
            <li class="selected">{{ nav_article.title|safe }}</li>
          {% else %}
            <li><a 
              href="{% url 'panels:article_detail' object.slug nav_article.article_type %}">
              {{ nav_article.title|safe }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>

    </nav>

	</div><!--/main-->

  <div class="next-panel">
    {% if object.get_next %}
      <a href="{% url 'panels:panel_detail' object.get_next.slug %}">next</a>
    {% else %}
      next 
    {% endif %}
  </div>

</div><!--/wrapper-->

{% endblock full_page %}
