{% extends "pops/base_detail.html" %}
{% load staticfiles %}

{% block slim_content%}
		
<div class="img-pop">

	<img src="{% static 'pops/learnmore/fullpics/' %}p{{ slide.learnmore.article.panel.ordinal }}-{{ slide.learnmore.article.article_type }}-{{ slide.learnmore.learnmore_type }}-{{ slide.slide_num }}.jpg">
	{{ slide.caption|safe }}

</div> 

<h4>{{ slide.title|safe }}</h4>
{{ slide.narrative|safe }}

<nav class="slide-nav">
	<ul>

		<li>
	    {% if slide.get_prev %}
	      <a class="swap_pop"  
	      href="{% url 'pops:'|add:slide.learnmore.learnmore_type|add:'_num_ajax_detail' slide.learnmore.id slide.get_prev.slide_num %}">&lArr; Previous</a>
	    {% else %}
	      <span class="no-more">&lArr; previous</span>
	    {% endif %}

	   &diams;
	    {% if slide.get_next %}
	      <a class="swap_pop"  
	      href="{% url 'pops:'|add:slide.learnmore.learnmore_type|add:'_num_ajax_detail' slide.learnmore.id slide.get_next.slide_num %}">Next &rArr;</a>
	    {% else %}
	      <span class="no-more">next &rArr;</span>
	    {% endif %}
		</li>

	</ul>
</nav>

{% endblock slim_content %}
