html {
  background-color: $base-background-color;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: 0 0 $tiny-spacing 0;
}


p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img {
  margin: 0;
  max-width: 100%;
}

blockquote {
  font-style: italic;
}

.prompt, div.image p {
  color: $medium-gray;
  font-size: $small-font-size;
}

.home-nav, .panel-nav, .slide-nav {
  font-size: $small-font-size;
  letter-spacing: 0.025em;
  text-transform: uppercase;  
}

.panel-title {
  margin-bottom: 0;
  text-align: center;

  h1 {
    color: $accent-color;
    font-size: 1.8em;
    line-height: 1em;
    margin-bottom: $tiny-spacing / 2;
  }
  
  h3 {
    margin-bottom: 0;
    margin-top: $tiny-spacing / 2;
  }

  p {
    font-size: $smallish-font-size;
    text-align: left;
    line-height: 1.1em;

    a {
      color: $accent-color;
      font-weight: bold;    }
    }
}
